<!doctype html>
<title>Portfolio Picker</title>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script type=text/javascript>
          $URL_ROOT = {{ request.url_root|tojson|safe  }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='picker.js')  }}">
    </script>
</head>
<body>
    Ticker: <input type="text" name="ticker" id="ticker">
    <button type="button" id="submit">Optimize!</button>
    <ul id="companies">
    </ul>
    <div id="results" hidden>
        <table id="portfolio">
        </table>
        Safe<input type="range" id="display" min="0" max="10" value="5">Risky
        <div>
            Monthly Expected Return:<div id="metric"></div>
        </div>
    </div>
</body>
