<!doctype html>
<title>Portfolio Picker</title>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script type=text/javascript>
          $URL_ROOT = {{ request.url_root|tojson|safe  }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='picker.js')  }}">
    </script>
</head>
<body>
    Ticker: <input type="text" name="ticker" id="ticker" placeholder="ticker">
    <table id="results">
    </table>
    Safe<input type="range" id="slider" min="0" max="10" value="5" disabled>Risky
    <div>
        Return: <span id="return"></span>
    </div>
    <div>
        Risk: <span id="risk"></span>
    </div>
</body>
